@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@500&display=swap");

/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  overflow-y: auto; /* 세로 스크롤 가능 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

/* 네비게이션 바 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 200px;
  /* text-align: center; */
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar a.active {
  color: #ffd700;
}

.navbar a:hover {
  color: #ffd700;
}

/* 섹션별 스타일 */
section {
  height: 100vh;
  padding-top: 90px; /* navbar 높이만큼 패딩 추가 */
}

.about {
  background-color: #6d9773;
}

.experience {
  background-color: #0c3a2d;
}

.hobby {
  background-color: #bb8954;
}

.plan {
  background-color: #ffb902;
}

/* 컨테이너 스타일 */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  border-radius: 30px;
  background-color: #ffff;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.experience .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-left: 10%;
  margin-bottom: 1%;
  color: #ffff;
  font-size: 2.4rem;
}

/* 리스트 스타일 */
ul {
  list-style-type: none;
  width: 35%;
  margin-left: 50px;
}

li {
  margin: 10px;
  font-size: 1.5rem;
}

span {
  margin-top: 20px;
  font-size: 1.4rem;
}

/* 이미지 크기 반응형 조정 */
.my-pic {
  width: 45vw; /* 화면 너비의 45%로 설정 */
  max-width: 450px; /* 최대 크기 제한 */
  height: auto;
}

.logo {
  width: 30px;
  height: 30px;
}

/* 캐러셀 크기 조정 */

.experience .carousel {
  width: 60vw; /* 화면 너비의 50% */
  max-width: 600px; /* 최대 크기 제한 */
  height: auto;
}

.hobby .carousel {
  width: 50vw; /* 화면 너비의 50% */
  max-width: 500px; /* 최대 크기 제한 */
  height: auto;
}

.description {
  font-size: 1rem;
}

@media (max-width: 1280px) {
  /* 12인치 13인치 */
  .experience .carousel {
    width: 45vw;
    max-width: 550px;
  }

  .hobby .carousel {
    width: 45vw;
    max-width: 450px;
  }
}

@media (max-width: 1024px) {
  /* 태블릿 이하 11인치*/
  .my-pic {
    width: 45vw;
    max-width: 400px;
  }

  .experience .carousel,
  .hobby .carousel {
    width: 45vw;
    max-width: 400px;
  }
}
